<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Chrome to Firefox Web Extension Converter (demo)</title>
	</head>
	<body>
		<form action="queue" method="post" enctype="multipart/form-data" accept-charset="utf-8">
			<input type="file" name="file"><br />
			<label for="apikey">API Key</label><input type="text" name="apikey" value="" id="apikey"><br />
			<label for="apisecret">API Secret</label><input type="text" name="apisecret" value="" id="apisecret">
			<p><input type="submit" value="Continue &rarr;"></p>
		</form>
	</body>
</html>
